<nav class="nav">
    <div class="nav_container">
        <div class="nav_logo">
            <img width="50" alt="Angular Logo" src="./assets/f-logo.png" />
            <h1 style="padding-left: 15px;">Freddy Fernandez</h1>
        </div>

        <label for="menu" class="nav_label">
            <img src="./assets/menu.svg" class="nav_img">
            
        </label>
        <input type="checkbox" id="menu" class="nav_input">

        <div class="nav_menu">

            <a href="#home" class="nav_item" onclick="ocultar()">Inicio</a>
            <a href="#service" class="nav_item" onclick="ocultar()">Acerca de Mi</a>
            <a href="#carrousel" class="nav_item" onclick="ocultar()">Portafolio</a>
            <a href="#start-today" class="nav_item" onclick="ocultar()">Aptitudes</a>
            <a href="#contact" class="nav_item" onclick="ocultar()">Contacto</a>

        </div>


    </div>
    <div class="scroll-indicator">
        <div id="progress"></div>
    </div>
</nav>