<header id="home" class="header_home">
    <div class="textos">
        <img class="perfil" src="./assets/images/foto 2021.jpg">
        <h1 class="h2fade">Programador Web</h1>
        <a href="./assets/CV-FREDDY-FERNANDEZ.pdf" download>
            <img class="dowload" src="./assets/images/dowload.png">
            <p>Descargar CV</p>
        </a>

    </div>
</header>
<!-- Start Service -->
<section class="service" id="service">
    <div class="section-header">
        <h3>Sobre Mi</h3>
        <div class="underline"></div>
    </div>
    <div>

        <div class="content">

            <div class="text box box1">

                <p>
                    Hola mi nombre es Freddy Eduardo. Soy Egresado de la Institucion Tecnologica Cibertec, Arequipa. Actualmente realizando mis practicas profesionales, interesado en áreas de análisis de sistemas y desarrollo de software full stack. Experiencia en administración,
                    área de atención al cliente, almacén y soporte tecnico de computadoras.Dominio de ingles intermedio. Es un reto motivante la investigación autodidacta ya que demanda mucha disciplina y compromiso.
                </p>
                <p>Mis Fortalezas en el área de la informatica son: analizar, interpretar y optimizar los requerimientos de los sistemas, asi como para diseñar la óptima experiencia de usuario. Mis habilidades personales son el trabajo en equipo, proactividad
                    y la honestidad. En mis tiempos libres me gusta hacer rutas con bicicleta, escuchar radio, leer noticias acerca de tecnologia</p>

            </div>
            <div class="accordian box box2">
                <img src="./assets/images/cibertec.jpg" alt="" class="imgcontent">
            </div>

        </div>
        <div class="content">
            <div class="text box box1">

                <img src="./assets/images/program.jpg" alt="" class="imgcontent">

            </div>

            <div class="accordian box box2">
                <div class="accordian-container active">
                    <div class="head">
                        <h4>Analisis de Sistemas</h4>
                        <span class="fa fa-angle-down"></span>
                    </div>


                    <div class="body">
                        <p>Priorizo las metodologias agiles, respetando los procesos de implementacion desde los requerimientos hasta el despliegue integrado del producto</p>
                    </div>
                </div>
                <div class="accordian-container">
                    <div class="head">
                        <h4>Inteligencia Emocional</h4>
                        <span class="fa fa-angle-up"></span>
                    </div>
                    <div class="body">
                        <p>Controlo la presion del trabajo, mediante las pausas activas, escuchando a los demas y siendo amigable.</p>
                    </div>
                </div>
                <div class="accordian-container">
                    <div class="head">
                        <h4>Perseverancia</h4>
                        <span class="fa fa-angle-up"></span>
                    </div>
                    <div class="body">
                        <p>Muestro actitud positiva para afrontar nuevos retos, analizo multiples alternativas de solucion, luego a partir de la practica, esfuerzo y disciplina resuelvo objetivos trazados</p>
                    </div>
                </div>
                <div class="accordian-container">
                    <div class="head">
                        <h4>Innovador</h4>
                        <span class="fa fa-angle-up"></span>
                    </div>
                    <div class="body">
                        <p>Valoro compartir nuevas ideas creativas, para mejorar los procesos laborales</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Service -->

<!-- carrousel Proyectos-->
<section class="carrousel" id="carrousel">
    <div class="section-header">
        <h3>Proyectos Academicos</h3>
        <div class="underline"></div>
    </div>
    <div class="testimonials-carousel-wrap">
        <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
        <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
        <div class="testimonials-carousel">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testi-item">

                            <div class="card-img-wrapper">
                                <img src="./assets/images/pi1.jpg" alt="CEO">

                            </div>
                            <div class="carta-info">
                                <h2>BancaBCP</h2>

                                <p>
                                    Transacciones Bancarias con Notificaciones.
                                </p>
                                <button onclick="mostrar(8)"><a href="#about_banco">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Sistema_BCP" target="_blank">Ver Repositorio</a></button>

                            </div>

                        </div>
                    </div>


                    <!--second--->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/dsw1.png" alt="CEO">

                            </div>

                            <div class="card-info">

                            </div>
                            <div class="carta-info">
                                <h2>Barshop</h2>

                                <p>
                                    Sistema Web Ecommerce, Tienda Online.
                                </p>
                                <button onclick="mostrar(1)"><a href="#about">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Barshop" target="_blank">Ver Repositorio</a></button>

                            </div>

                        </div>
                    </div>
                    <!--third-->

                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/lp1.jpg" alt="CEO">
                            </div>
                            <div class="carta-info">
                                <h2>Digital Business</h2>

                                <p>
                                    Sistema Web de Contabilidad.
                                </p>
                                <button onclick="mostrar(2)"><a href="#schedule">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Proyecto_Digital_Business" target="_blank">Ver Repositorio</a></button>
                            </div>
                        </div>
                    </div>

                    <!--fourth-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/dam4.jpg" alt="CEO">
                            </div>
                            <div class="carta-info">
                                <h2>Social Club</h2>

                                <p>
                                    Aplicacion Movil de Red social,Blog.
                                </p>
                                <button onclick="mostrar(3)"><a href="#classes">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Social_Club_App" target="_blank">Ver Repositorio</a></button>
                            </div>
                        </div>
                    </div>
                    <!--five-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/aew1.png" alt="CEO">
                            </div>
                            <div class="carta-info">
                                <h2>Legend Gamer</h2>

                                <p>
                                    Pagina Web Responsiva y animada
                                </p>
                                <button onclick="mostrar(5)"><a href="#gallery">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Legend_Gamer" target="_blank">Ver Repositorio</a></button>
                            </div>
                        </div>
                    </div>
                    <!--six-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/dse1.png" alt="CEO">
                            </div>
                            <div class="carta-info">
                                <h2>Syfer</h2>

                                <p>
                                    Sistema Desktop de ventas
                                </p>
                                <button onclick="mostrar(7)"><a href="#price-package">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Proyecto_Syfer" target="_blank">Ver Repositorio</a></button>
                            </div>
                        </div>
                    </div>
                    <!--seven-->
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="card-img-wrapper">
                                <img src="./assets/images/aed.jpg" alt="CEO">
                            </div>
                            <div class="carta-info">
                                <h2>Misti Resort</h2>
                                <p>
                                    Sistema Desktop de Hospedajes
                                </p>
                                <button onclick="mostrar(6)"><a href="#schedule3">Ver Reseña</a></button>
                                <button><a href="https://github.com/freddyfernandez/Hotel_Resort" target="_blank">Ver Repositorio</a></button>
                            </div>
                        </div>
                    </div>
                    <!--testi end-->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- End carrousel -->

<!-- Start Habilidades -->
<section class="start-today" id="start-today">
    <div class="section-header">
        <h3>Aptitudes Tecnicas</h3>
        <div class="underline"></div>
    </div>
    <div class="containerCard">

        <div class="content">

            <section class="card2">
                <div class="card_inner">
                    <div class="card_inner_circle">
                        <img class="img_circle" src="./assets/images/cog.png">
                    </div>
                    <div class="card_inner_header">
                        <img class="img_header" src="./assets/images/c3.jpg">
                    </div>
                    <div class="card_inner_content">

                        <div class="price">Backend</div>
                        <div class="text">

                            <p>Java Eclipse - Intermedio</p>
                            <p>C# .Net - Intermedio</p>
                            <p>Spring Boot - Intermedio</p>
                            <p>Kotlin Android - Intermedio</p>
                            <p>Python - Basico</p>
                            <p>Flutter - Basico</p>



                        </div>
                    </div>

                </div>
            </section>


            <section class="card2">
                <div class="card_inner">
                    <div class="card_inner_circle">
                        <img class="img_circle" src="./assets/images/paperplane.png">
                    </div>
                    <div class="card_inner_header">
                        <img class="img_header" src="./assets/images/c1.jpg">
                    </div>
                    <div class="card_inner_content">

                        <div class="price">Frontend</div>
                        <div class="text">

                            <p>Angular - Intermedio</p>
                            <p>Javascript - Intermedio</p>
                            <p>Html - Avanzado</p>
                            <p>Css - Avanzado</p>
                            <p>Node Js- Intermedio</p>
                            <p>Corel Draw - Basico</p>


                        </div>

                    </div>

                </div>
            </section>

            <section class="card2">
                <div class="card_inner">
                    <div class="card_inner_circle">
                        <img class="img_circle" src="./assets/images/rocket.png">
                    </div>
                    <div class="card_inner_header">
                        <img class="img_header" src="./assets/images/c2.jpg">
                    </div>
                    <div class="card_inner_content">
                        <div class="price">Devops</div>
                        <div class="text">

                            <p>SQL - Intermedio</p>
                            <p>Google Cloud - Intermedio</p>
                            <p>Github - Intermedio</p>
                            <p>NoSql - Intermedio</p>
                            <p>Bizagi - Intermedio</p>
                            <p>Scrum - Intermedio</p>



                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

</section>
<!-- End Start Habilidades -->