<!-- Start Contact -->
<section class="contact" id="contact">
    <div class="box text wow slideInRight">

        <div class="info">
            <ul>
                <li><span class="fa fa-map-marker"></span> Cerro colorado, Arequipa,Perú</li>

                <li><span class="fa fa-envelope"></span> paratulibro@hotmail.com</li>
            </ul>
        </div>

    </div>
    <div class="box text wow slideInRight">
        <h2>Mis Redes Sociales:</h2>
        <div class="social">
            <a href="" onclick="redsocial(0)"><span class="fa fa-github" ></span></a>
            <a href="" onclick="redsocial(1)"><span class="fa fa-linkedin"></span></a>
            <a href="" onclick="redsocial(2)"><span class="fa fa-whatsapp"></span></a>
            <!--<a href=""><span class="fa fa-youtube-play"></span></a>-->

        </div>



        <div class="copy">
            &copy; Hecho por: Freddy Fernandez
        </div>
    </div>


</section>
<!-- End Contact -->