/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(219, 144, .5);
    --color2: #185c0714;
    --color3: rgb(0, 161, 113);
    --fondo: #082f3a;
    --titulo: 33px;
    --subtitulos: 20px;
    --espacios: 10px;
    --espacios-contenido: 45px;
    --margenes: 60px;
    --color4: rgb(3 51 88);
    --color5: rgb(17, 95, 154);
}

body {
    font-family: 'Oswald', sans-serif;
}